
.relleno {
    height: 96vh;
    overflow: hidden;
    background: linear-gradient(14deg, rgb(165 228 254 / 80%) 0%, rgb(14 55 81 / 68%) 66%, rgb(15 47 87) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
    background-size: cover;
    border-left-style: outset;
}
.img1{
    animation: floating 3.0s ease-in-out infinite;
    position: relative;
    left: 5em;
    top: 4em;
}
.img2 {
    animation: floating 6.5s ease-in-out infinite;
    position: relative;
    left: 1em;
    top: 6em;

}
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
        transform: translatex(15px);

    }
    50% {
        transform: translateY(-15px);

    }
}
.imgPhone{
    display: none;
}
@media (max-width: 1074px) {
    .relleno {
    display: none;
    }
    .col_4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form{
        display: flex;
        position: absolute;
        top: 8rem;
        left: 0;
        justify-content: center;
        /* left: 2rem; */
        width: 100%;
    }
    .imgPhone{
        display: flex;
        animation: floating 3.0s ease-in-out infinite;
        position: relative;
        z-index: -1;
        left: 7em;
        top: 7em;
        opacity: 0.6;
    }
}