.btnRegistrer{
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    gap: 1rem;
}
.btnstyle{
    background-color: #ffffff;
    height: 5vh;
    padding: 1em;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
    cursor: pointer;
    font-size: 17px;
    color: #0c265b;
    font-weight: 600;
}
.sectionNav{
    row-gap: 1rem;
    padding: 1%;
    background-color: #144272;
    margin-bottom: 3%;

}
.divButton{
    display: grid;
}
.buttonAside{
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
    background-color: #001c2a;
    width: max-content;
    padding: 1rem;
}
.button_aggregate {
    font-size: 1rem;
    background: #5a5b5c;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
}

.button_aggregate span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.button_aggregate svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.button_aggregate:hover {
    background: #000;
}

.button_aggregate:hover .svg_wrapper {
    transform: scale(1.25);
    transition: .5s linear;
}

.button_aggregate:hover svg {
    transform: translateX(1.2em) scale(1.1);
    fill: #fff;
}

.button_aggregate:hover span {
    opacity: 0;
    transition: .5s linear;
}

.button_aggregate:active {
    transform: scale(0.95);
}