.container{
    background-color: #144272;
    z-index: 1000;
    height: 6vh;
    max-width: 100% !important;
    margin: 0 auto;
    position: fixed;
}

ul{
    margin : 0 !important;
    display: flex;
    flex-direction: row;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    gap : 3.2rem;
    padding-right: 6%;
}
.logo{
    display: flex;
    padding-left: 3% !important;
}
li {
    display: flex;
    padding: 0.5rem;
    align-self: center;
    font-weight: bolder;
    color: #070530;
    text-decoration: none;

}
